@if(this.auth.currentUser) {
<div>
  <p-menubar [model]="loggedInItems" styleClass="shadow-5">
    <ng-template pTemplate="start">
      <div>
        <a routerLink="/">
          <img width="100px" height="100px" src="{{ navLogo() }}" />
        </a>
      </div>
    </ng-template>
    <ng-template pTemplate="end">
      <div class="flex justify-content-center align-items-center">
        <div>
          <h2 class="mb-1">{{ navTitle() }}</h2>
          <span>{{ loggedInUser }}</span>
        </div>
      </div>
    </ng-template>
  </p-menubar>
</div>
} @if(!this.auth.currentUser) {
<div>
  <p-menubar [model]="loggedOutItems" styleClass="shadow-5">
    <ng-template pTemplate="end">
      <div>
        <h2 class="flex align-items-center my-0">
          {{ navTitle() }}
          <img width="100px" height="100px" src="{{ navLogo() }}" />
        </h2>
      </div>
    </ng-template>
  </p-menubar>
</div>
}
